{% extends 'Header.html'%}

{% block content %}
 <div class="container justify-content-end" style="display: flex;
   align-items: center;
   justify-content: space-around;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   position: relative">
   <div class="index_mid_left" style="width: 60%; position: absolute; top:0; left:0;">
      <h1>상품목록</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th class = "name_col" scope="col">상품명</th>
                <th class = "uploader_col" scope="col">등록자</th>
                <th class= "date_col" scope="col">등록날짜</th>
            </tr>
        </thead>
        <tbody>
            {% for item in result %}
		        <tr style = "cursor:pointer;" onClick = " location.href='/product/{{item[0]}}' ">
				    {% for i in item %}
			            <td>
				            {{i}}
			            </td>
				    {% endfor %}
		        </tr>
			{% endfor %}
        </tbody>
    </table>
   </div>

   <div class="index_mid_right" style="width: 20%; position: absolute; top:0; right:0;">
      {%if login == True %}
       <div class="card" style="width: 18rem; background:#FFD18D;">
            <div class="card-body" style="text-align:center; margin-left: auto; margin-right: auto;">
                <h3 class="card-title"> 사용자 : {{username}}</h3>
                <a href="{{ url_for('logout')}}" class="btn btn-dark"
                   style="background-color:#FFb74D;border:0; margin-top: 10px">Sign-out</a>
            </div>
       </div>
      {%else%}
       {%with messages = get_flashed_messages()%}
            {%if messages %}
                <script type="text/javascript">
                    alert("{{messages[-1]}}");
                </script>
            {%endif%}
       {%endwith%}
      <form method="get" id="login" action="{{url_for('login')}}">
        <div class="form-group">
          <label for="loginId">ID</label>
          <input type="id" class="form-control" id="loginId" name="loginId" aria-describedby="emailHelp">
        </div>
        <div class="form-group" style="margin-bottom:20px;">
          <label for="loginPw">Password</label>
          <input type="password" class="form-control" id="loginPw" name="loginPw">
        </div>
        <div style="display: flex; align-items: center; justify-content: space-around;margin-left: auto;margin-right: auto;">
            <button type="submit" class="btn btn-dark" style="background:#FFD18D; border:0;">Sign-in</button>
            <a href="/signup" class="btn btn-dark" style="background:#FFD18D; border:0;">Sign-up</a>
        </div>
      </form>
      {%endif%}
    </div>
 </div>
{% endblock %}