{% extends 'Header.html'%}

{% block content %}
  <div class="container justify-content-end" style="display: flex;
   align-items: center;
   justify-content: space-around;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   position: relative">
   <div class="index_mid_left" style="width: 60%; position: absolute; top:0; left:0;">
     <div class="container" style="margin-bottom:20px; display: flex; justify-content: space-between;align-items: center;">
        <h1>등록 상품목록</h1>
        <a href="{{url_for("upload")}}" class="btn btn-light" style="background-color:#FFb74D;border:0;">상품등록</a>
     </div>
     <table class="table">
       <thead>
         <tr>
           <th scope="col">#</th>
           <th class = "name_col" scope="col">상품명</th>
           <th class= "date_col" scope="col">등록날짜</th>
           <th class= "btn_col" scope="col"></th>
         </tr>
       </thead>
       <tbody>
         {% for item in result %}
		       <tr style = "cursor:pointer;" onClick = " location.href='/product/{{item[0]}}' ">
				    {% for i in item %}
			        <td>
				        {{i}}
			        </td>
				    {% endfor %}
              <td>
                <a href="{{url_for("modifing", p_id = item[0])}}" class="btn btn-light" style="background-color:#FFb74D;border:0;">수정</a>
              </td>
		       </tr>
			   {% endfor %}
        </tbody>
      </table>
    </div>

    {% if login == True%}
    <div class="index_mid_right" style="width: 20%; position: absolute; top:0; right:0; background:#FFEACC">

      <div style="margin-top:40px;margin-bottom:20px;">

        <h5 style = "text-align:center;">사용자 : {{username}}</h5>
      </div>
      <form>
        <div style="display: flex; align-items: center; justify-content: space-around;margin-left: auto;margin-right: auto;">
           <a href="{{ url_for('logout')}}" class="btn btn-light" style="background-color:#FFb74D;border:0; margin-top: 10px">Sign-out</a>
        </div>
        <br>
      </form>
    </div>
    {% else %}
      {%with messages = get_flashed_messages()%}
          {%if messages %}
              <script type="text/javascript">
                alert("{{messages[-1]}}");
              </script>
            {%endif%}
      {%endwith%}
    {%endif%}


 </div>
{% endblock %}